.main {
    display: flex;
    flex-direction: row;
}
.left {
    width:50%;
    height: 100vh;
}
.right {
    width:50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn,.btn-2{
    margin:10px;
}