.main {
    display: flex;
    flex-direction: row;
}
.left {
    width:50%;
    height: 100vh;
}
.right {
    width:50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn,.btn-2{
    margin:15px;
}
.nft{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.nftname,.nftowner,.celebrity,.description{
    margin:10px 0;
    width:70%;
}

.bt{
    width:fit-content;
    margin: auto;
}
.btn_upload_nft {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
.upload_profile {
    /* margin-left:20%; */
    margin: auto;
    width: fit-content;
}