.main {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:#14141f;
    /* width: 100vw; */
    /* min-height: 100vh; */
}

.form_img{
    width: 50%;
}

*{
    margin:0;
}
.left {
    width:50%;
}
.right {
    width:100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

.btn{
    margin-top:20px !important ;
    margin-right: 40px !important;
        padding: 1.5px 2px !important;
        width: 200px;
        height: 50px;
        border-radius: 150px !important;
        background-image: linear-gradient(black, black), linear-gradient(to right, #f301af, #4844fd) !important;
        background-clip: content-box, border-box;
        color: white!important;
}
.btn-2{
        margin-top:20px !important;
        margin-left: 40px !important;
        padding: 1.5px 2px !important;
        width: 200px;
        height: 50px;
        border-radius: 150px !important;
        background-image: linear-gradient(black, black), linear-gradient(to right, #f301af, #4844fd) !important;
        background-clip: content-box, border-box;
        color: white!important;
    
}
.row {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 4rem;
    gap: 8rem;
}
.nft{
    border: 1px solid white !important;
    min-height:460px;
    min-width:460px;
    border-radius:50px;
    text-align: center;
    display: flex;
    color: white!important;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-top:50px;
    margin-top: 15px;
}

.card_media{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.nftname,.nftowner,.celebrity,.description{
    margin:10px 0;
    width:70%;
}
/* .description {
    background-color:#14141f;
    color:white;
} */
.btnContainer {
    display:flex;
    justify-content:center;
}
.bt{
    margin-top:20px !important;
    padding: 1.5px 2px !important;
    width: 200px;
    height: 50px;
    border-radius: 150px !important;
    background-image: linear-gradient(black, black), linear-gradient(to right, #f301af, #4844fd) !important;
    background-clip: content-box, border-box;
    color: white!important;
}
.btn_upload_nft {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
.upload_profile {
    /* margin-left:20%; */
    margin: auto;
    width: fit-content;
}
.profileimg{
    width:300px;
    height:300px;
}
.msg {
    color: white;
}

label, input, svg {
    color: #f2f2f2 !important;
}

fieldset {
    border-color: #393d3f !important;
}

div[aria-haspopup='listbox'] {
    color: #f2f2f2 !important;
}